[submodule "files/.vim/bundle/jshint2.vim"]
	path = files/.vim/bundle/jshint2.vim
	url = https://github.com/Shutnik/jshint2.vim.git
[submodule "files/.vim/bundle/vim-coffee-script"]
	path = files/.vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule "files/.config/zsh/zsh-completions"]
	path = files/.config/zsh/zsh-completions
	url = git://github.com/zsh-users/zsh-completions.git
[submodule "files/.vim/bundle/vim-tmux-navigator"]
	path = files/.vim/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "files/.vim/bundle/vim-bundler"]
	path = files/.vim/bundle/vim-bundler
	url = git://github.com/tpope/vim-bundler.git
[submodule "files/.vim/bundle/vim-rails"]
	path = files/.vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "files/.vim/bundle/vim-commentary"]
	path = files/.vim/bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "files/.vim/bundle/vim-unimpaired"]
	path = files/.vim/bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "files/.vim/bundle/vim-jsx"]
	path = files/.vim/bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "files/.vim/bundle/elm.vim"]
	path = files/.vim/bundle/elm.vim
	url = https://github.com/lambdatoast/elm.vim
	ignore = dirty
[submodule "files/.vim/bundle/rust.vim"]
	path = files/.vim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "files/.vim/bundle/vim-surround"]
	path = files/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "files/.vim/bundle/vim-markdown"]
	path = files/.vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown
[submodule "files/.vim/bundle/vim-fugitive"]
	path = files/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "files/.vim/bundle/vim-rake"]
	path = files/.vim/bundle/vim-rake
	url = git://github.com/tpope/vim-rake.git
[submodule "files/.vim/bundle/vim-projectionist"]
	path = files/.vim/bundle/vim-projectionist
	url = git://github.com/tpope/vim-projectionist.git
[submodule "files/.vim/bundle/vim-textobj-user"]
	path = files/.vim/bundle/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user
	ignore = dirty
[submodule "files/.vim/bundle/vim-textobj-indent"]
	path = files/.vim/bundle/vim-textobj-indent
	url = https://github.com/kana/vim-textobj-indent
	ignore = dirty
[submodule "build/fzf"]
	path = build/fzf
	url = https://github.com/junegunn/fzf
	ignore = dirty
[submodule "files/.rbenv"]
	path = files/.rbenv
	url = https://github.com/sstephenson/rbenv
[submodule "build/ruby-build"]
	path = build/ruby-build
	url = https://github.com/sstephenson/ruby-build
	ignore = dirty
[submodule "files/.vim/bundle/rainbow_parentheses.vim"]
	path = files/.vim/bundle/rainbow_parentheses.vim
	url = https://github.com/junegunn/rainbow_parentheses.vim
	ignore = dirty
[submodule "files/.vim/bundle/vim-indent-guides"]
	path = files/.vim/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides
[submodule "files/.vim/bundle/vim-sleuth"]
	path = files/.vim/bundle/vim-sleuth
	url = https://github.com/tpope/vim-sleuth
[submodule "files/.vim/bundle/vim-eco"]
	path = files/.vim/bundle/vim-eco
	url = https://github.com/AndrewRadev/vim-eco
[submodule "files/.vim/bundle/supertab"]
	path = files/.vim/bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule "files/.vim/bundle/neomake"]
	path = files/.vim/bundle/neomake
	url = https://github.com/benekastah/neomake
[submodule "build/lastpass-cli"]
	path = build/lastpass-cli
	url = https://github.com/lastpass/lastpass-cli
[submodule "build/aurget"]
	path = build/aurget
	url = https://aur.archlinux.org/aurget.git
	ignore = dirty
[submodule "files/.vim/bundle/pytest.vim"]
	path = files/.vim/bundle/pytest.vim
	url = https://github.com/alfredodeza/pytest.vim
[submodule "build/gem/beeminder-gem"]
	path = build/gems/beeminder-gem
	url = https://github.com/beeminder/beeminder-gem
[submodule "files/.tmux-plugins/tmux-resurrect"]
	path = files/.tmux-plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "files/.vim/bundle/vim-obsession"]
	path = files/.vim/bundle/vim-obsession
	url = https://github.com/tpope/vim-obsession
	ignore = dirty
[submodule "files/.vim/bundle/vim-fireplace"]
	path = files/.vim/bundle/vim-fireplace
	url = https://github.com/tpope/vim-fireplace
	ignore = dirty
[submodule "files/.tmux-plugins/tmux-continuum"]
	path = files/.tmux-plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum
[submodule "build/TagTime"]
	path = build/TagTime
	url = https://github.com/dreeves/TagTime
[submodule "files/.vim/bundle/vim-racket"]
	path = files/.vim/bundle/vim-racket
	url = https://github.com/wlangstroth/vim-racket.git
[submodule "files/.vim/pack/git-plugins/start/ale"]
	path = files/.vim/pack/git-plugins/start/ale
	url = https://github.com/w0rp/ale
[submodule "files/.vim/bundle/vim-javascript"]
	path = files/.vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "build/rbenv-communal-gems"]
	path = build/rbenv-communal-gems
	url = https://github.com/tpope/rbenv-communal-gems
[submodule "files/.vim/bundle/vim-eunuch"]
	path = files/.vim/bundle/vim-eunuch
	url = https://github.com/tpope/vim-eunuch
	ignore = dirty
[submodule "files/.pyenv"]
	path = files/.pyenv
	url = https://github.com/pyenv/pyenv
[submodule "build/git-issue"]
	path = build/git-issue
	url = https://github.com/dspinellis/git-issue
[submodule "build/ytcc"]
	path = build/ytcc
	url = https://github.com/woefe/ytcc
[submodule "files/.nodenv"]
	path = files/.nodenv
	url = https://github.com/nodenv/nodenv
[submodule "build/node-build"]
	path = build/node-build
	url = https://github.com/nodenv/node-build
