[submodule "files/.vim/bundle/jshint2.vim"]
	path = files/.vim/bundle/jshint2.vim
	url = https://github.com/Shutnik/jshint2.vim.git
[submodule "files/.vim/bundle/vim-go"]
	path = files/.vim/bundle/vim-go
	url = https://github.com/fatih/vim-go
[submodule "files/.vim/bundle/vim-coffee-script"]
	path = files/.vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule "files/.config/zsh/zsh-completions"]
	path = files/.config/zsh/zsh-completions
	url = git://github.com/zsh-users/zsh-completions.git
[submodule "files/.vim/bundle/vim-tmux-navigator"]
	path = files/.vim/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "files/.vim/bundle/vim-bundler"]
	path = files/.vim/bundle/vim-bundler
	url = git://github.com/tpope/vim-bundler.git
[submodule "files/.vim/bundle/vim-rails"]
	path = files/.vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "files/.vim/bundle/command-t"]
	path = files/.vim/bundle/command-t
	url = git://git.wincent.com/command-t
