[submodule "files/.vim/bundle/jshint2.vim"]
	path = files/.vim/bundle/jshint2.vim
	url = https://github.com/Shutnik/jshint2.vim.git
[submodule "files/.vim/bundle/vim-go"]
	path = files/.vim/bundle/vim-go
	url = https://github.com/fatih/vim-go
[submodule "files/.vim/bundle/vim-coffee-script"]
	path = files/.vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule "files/.config/zsh/zsh-completions"]
	path = files/.config/zsh/zsh-completions
	url = git://github.com/zsh-users/zsh-completions.git
[submodule "files/.vim/bundle/vim-tmux-navigator"]
	path = files/.vim/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "files/.vim/bundle/vim-bundler"]
	path = files/.vim/bundle/vim-bundler
	url = git://github.com/tpope/vim-bundler.git
[submodule "files/.vim/bundle/vim-rails"]
	path = files/.vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "files/.vim/bundle/command-t"]
	path = files/.vim/bundle/command-t
	url = git://git.wincent.com/command-t
	ignore = dirty
[submodule "files/.vim/bundle/vim-commentary"]
	path = files/.vim/bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "files/.vim/bundle/vim-unimpaired"]
	path = files/.vim/bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "files/.vim/bundle/vim-jsx"]
	path = files/.vim/bundle/vim-jsx
	url = git@github.com:mxw/vim-jsx.git
[submodule "files/.vim/bundle/elm.vim"]
	path = files/.vim/bundle/elm.vim
	url = git@github.com:lambdatoast/elm.vim
	ignore = dirty
[submodule "files/.vim/bundle/rust.vim"]
	path = files/.vim/bundle/rust.vim
	url = git@github.com:rust-lang/rust.vim
[submodule "files/.vim/bundle/vim-surround"]
	path = files/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
