# this doesn't work, because you need stuff that isn't available until X comes up
[Unit]
Description=rescuetime

[Service]
ExecStart=/usr/bin/rescuetime

[Install]
WantedBy=default.target
