[user]
	name = Daniel Light
	email = daniel.sj.light@gmail.com
[core]
	editor = vim
	excludesfile = ~/.gitignore
	autcrlf = input
[push]
	default = simple
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = auto
[alias]
	st = status -sb
	ci = commit
	check = diff --cached
	co = checkout
	br = branch
	wipe = !git add -A && git commit -qm "WIPE SAVEPOINT" && git reset HEAD~1 --hard
	amend = commit --amend --no-edit
	aa = add -A
	d = diff
	home = rev-parse --show-toplevel
	f = fetch --prune --tags --recurse-submodules=on-demand
	m = merge
	g = grep
	e = rebase
[merge]
	tool = vimdiff
[mergetool "deltawalker"]
	cmd = '/Applications/DeltaWalker.app/Contents/MacOS/git-merge' "$LOCAL" "$REMOTE" "$BASE" "$MERGED"
[diff]
	algorithm = histogram
[rebase]
	autosquash = true
[grep]
	extendedRegexp = true
[commit]
	template = ~/.gitmessage
