[user]
	name = Daniel Light
	email = daniel.sj.light@gmail.com

[core]
	excludesfile = ~/.gitignore
	autocrlf = input

[push]
	default = simple

[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = auto

[alias]
	a = add
	b = branch
	d = diff
	dc = diff --cached
	e = rebase
	f = fetch --prune --tags --recurse-submodules=on-demand
	g = grep
	i = !/home/daniel/.dotfiles/build/git-issue/git-issue.sh
	l = log
	m = merge
	s = status -sb

	amend = commit --amend --no-edit
	check = diff --cached
	ci = commit
	co = checkout
	home = rev-parse --show-toplevel
	dsf = "!git diff --color $@ | diff-highlight | diff-so-fancy | less --RAW-CONTROL-CHARS"
	issue = !/home/daniel/.dotfiles/build/git-issue/git-issue.sh

[merge]
	tool = vimdiff

[mergetool "deltawalker"]
	cmd = '/Applications/DeltaWalker.app/Contents/MacOS/git-merge' "$LOCAL" "$REMOTE" "$BASE" "$MERGED"

[diff]
	algorithm = histogram

[rebase]
	autosquash = true

[grep]
	extendedRegexp = true

[commit]
	template = ~/.gitmessage

[init]
	templatedir = ~/.git_template
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
