[user]
	name = Daniel Light
	email = daniel.sj.light@gmail.com
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[push]
	default = simple
[color]
	ui = auto
[alias]
	check = diff --cached
	co = checkout
