[Unit]
Description=Pacman mirrorlist updater

[Service]
Type=oneshot
ExecStart=/usr/bin/reflector --protocol https --country 'United States' --latest 30 --number 20 --sort rate --save /etc/pacman.d/mirrorlist
